* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background: #f7f3ef;
  color: #2b1f1a;
  overflow-x: hidden;
}

img {
  width: 100%;
  display: block;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.section {
  padding: 100px 0;
}

.section-title {
  text-align: center;
  margin